@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-size: 16px;
    }

    html {
        @apply antialiased;

        font-size: var(--font-size);
        text-rendering: optimizeLegibility;
    }
}
